*.zip
reference-material
.DS_Store
.vscode
.envrc
timpasslib
.python-version
__pycache__
solutions
.pytest_cache
slurm
snapshot*
wandb
lightning_logs
checkpoints
*.ckpt
*.pkl
*.prof
lintim*
**/.*
!.pre-commit-config.yaml
*.code-workspace